* {
  margin: 0;
  padding: 0;
}

.top-bar {
  display: flex;
  height: 50px;
}

.info-bar {
  padding-top: 10px;
  text-align: center;
  background-color: #eeded6;
  width: 100%;
}

.info-bar2 {
  padding-top: 10px;
  text-align: center;
  background-color: #d7c3b8;
  width: 100%;
}



.navbar-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  width: 100px;
}

nav .search form {
    position: relative;

}

nav .search form input {
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
  width: 400px;
  border-radius: 15px;
  border: 1px solid rgb(224, 215, 215);
  box-shadow: inset 1px 1px 3px rgb(202, 200, 200);
  background-color: #fcf8f6;
}

nav .search form input button {
    position: absolute;
    top: 50;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


.bx bx-search button {
  position: relative;
}

.nav-icons {
  padding-right: 30px;
  padding-top: 10px;
  font-size: ;
}

.nav-icons i {
  font-size: 25px;
  padding-right: 25px;
}

.navbar-bot {
  display: flex;
  
}
